*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    text-align: center;
    background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);
    height:100vh;
}
.btn{
    height: 100px;
    width: 100px;
    margin:10px;
    background-color: rgb(221, 224, 47);
    border-radius: 50%;
    cursor: pointer;
    border-color: rgba(14, 134, 150, 0.959);
}
.image{
    height:75px;
    border-radius: 50%;
}
.main-head{
    color: rgb(119, 0, 255);
}
.head{
    color:rgb(0, 60, 255);
}
.reset{
    height:40px;
    width:100px;
    border-radius: 10px;
    background-color: cornflowerblue;
    cursor: pointer;
    color:white;
}
